.shirts-for-user-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.shirts-for-user-kids {
  width: 200px;
  object-fit: cover;
}
.shirts-for-user-man {
  width: 200px;
  object-fit: cover;
}
.shirts-for-user-ladies {
  width: 200px;
  object-fit: cover;
}
.shirts-for-user-kids1 {
  width: 200px;
  object-fit: cover;
}
.shirts-for-user-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shirts-for-user-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shirts-for-user-navlink {
  display: flex;
  transition: 0.3s;
  flex-direction: row;
  text-decoration: none;
}

.shirts-for-user-icon {
  width: 24px;
  height: 24px;
}
.shirts-for-user-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shirts-for-user-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shirts-for-user-navlink1 {
  display: flex;
  transition: 0.3s;
  flex-direction: row;
  text-decoration: none;
}

.shirts-for-user-icon04 {
  width: 24px;
  height: 24px;
}
.shirts-for-user-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shirts-for-user-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shirts-for-user-navlink2 {
  display: flex;
  transition: 0.3s;
  flex-direction: row;
  text-decoration: none;
}

.shirts-for-user-icon08 {
  width: 24px;
  height: 24px;
}
.shirts-for-user-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shirts-for-user-container8 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.shirts-for-user-navlink3 {
  display: flex;
  transition: 0.3s;
  flex-direction: row;
  text-decoration: none;
}

.shirts-for-user-icon12 {
  width: 24px;
  height: 24px;
}

@media(max-width: 1600px) {
  .shirts-for-user-container {
    width: 1127px;
    height: 409px;
    align-items: center;
    justify-content: center;
  }
  .shirts-for-user-kids {
    top: 0px;
    left: 0px;
    width: 250px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    align-self: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
  }
  .shirts-for-user-man {
    top: 0px;
    left: 587px;
    width: 250px;
    position: absolute;
    align-self: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
  }
  .shirts-for-user-ladies {
    top: 0px;
    left: 871px;
    width: 250px;
    position: absolute;
    align-self: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
  }
  .shirts-for-user-kids1 {
    top: 0px;
    left: 295px;
    width: 250px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    align-self: center;
    border-color: var(--dl-color-gray-black);
    border-width: 2px;
  }
  .shirts-for-user-premium-cotton-adult {
    top: 260px;
    left: 3px;
    width: 250px;
    height: 40px;
    position: absolute;
    text-align: center;
    font-family: Poppins;
  }
  .shirts-for-user-premium-cotton-ladies {
    top: 260px;
    left: 290px;
    width: 250px;
    position: absolute;
    text-align: center;
  }
  .shirts-for-user-premium-cotton-kids {
    top: 260px;
    left: 586px;
    width: 250px;
    position: absolute;
    text-align: center;
  }
  .shirts-for-user-premium-cotton-kids1 {
    top: 260px;
    left: 872px;
    width: 250px;
    height: 40px;
    position: absolute;
    text-align: center;
  }
  .shirts-for-user-price {
    top: 305px;
    left: 100px;
    position: absolute;
    font-family: Poppins;
  }
  .shirts-for-user-price1 {
    top: 310px;
    left: 386px;
    position: absolute;
    font-family: Poppins;
  }
  .shirts-for-user-price2 {
    top: 310px;
    left: 683px;
    position: absolute;
    font-family: Poppins;
  }
  .shirts-for-user-price3 {
    top: 310px;
    left: 961px;
    position: absolute;
    font-family: Poppins;
  }
  .shirts-for-user-container1 {
    top: 320px;
    left: 5px;
    width: 244px;
    height: 69px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }
  .shirts-for-user-container2 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 102px;
    bottom: 0px;
    height: 50px;
    margin: auto;
    position: absolute;
    align-self: center;
    justify-content: flex-start;
  }
  .shirts-for-user-navlink {
    width: 100px;
    height: 40px;
    position: relative;
    font-size: 10px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-end;
    background-color: var(--dl-color-danger-700);
  }
  .shirts-for-user-text {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0rem;
    padding-bottom: 0.5rem;
  }
  .shirts-for-user-icon {
    left: 11px;
    bottom: 8px;
    position: absolute;
  }
  .shirts-for-user-container3 {
    top: 320px;
    left: 292px;
    width: 244px;
    height: 69px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }
  .shirts-for-user-container4 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 102px;
    bottom: 0px;
    height: 50px;
    margin: auto;
    position: absolute;
  }
  .shirts-for-user-navlink1 {
    width: 100px;
    height: 40px;
    position: relative;
    font-size: 10px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-end;
    background-color: var(--dl-color-danger-700);
  }
  .shirts-for-user-text1 {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0rem;
    padding-bottom: 0.5rem;
  }
  .shirts-for-user-icon04 {
    left: 11px;
    bottom: 8px;
    position: absolute;
  }
  .shirts-for-user-container5 {
    top: 320px;
    left: 589px;
    width: 244px;
    height: 69px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }
  .shirts-for-user-container6 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 102px;
    bottom: 0px;
    height: 50px;
    margin: auto;
    position: absolute;
  }
  .shirts-for-user-navlink2 {
    width: 100px;
    height: 40px;
    position: relative;
    font-size: 10px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-end;
    background-color: var(--dl-color-danger-700);
  }
  .shirts-for-user-text2 {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0rem;
    padding-bottom: 0.5rem;
  }
  .shirts-for-user-icon08 {
    left: 11px;
    bottom: 8px;
    position: absolute;
  }
  .shirts-for-user-container7 {
    top: 320px;
    left: 871px;
    width: 244px;
    height: 69px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
  }
  .shirts-for-user-container8 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 102px;
    bottom: 0px;
    height: 50px;
    margin: auto;
    position: absolute;
  }
  .shirts-for-user-navlink3 {
    width: 100px;
    height: 40px;
    position: relative;
    font-size: 10px;
    align-items: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-end;
    background-color: var(--dl-color-danger-700);
  }
  .shirts-for-user-text3 {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 0rem;
    padding-bottom: 0.5rem;
  }
  .shirts-for-user-icon12 {
    left: 11px;
    bottom: 8px;
    position: absolute;
  }
  .shirts-for-user-root-class-name {
    top: 210px;
    left: 70px;
    position: absolute;
  }
}
@media(max-width: 1200px) {
  .shirts-for-user-container {
    height: 403px;
  }
}
